@page
@model IndexModel
@{
    ViewData["Title"] = "Students";
}

<h2>Students</h2>

<ul>
    @foreach (var student in Model.Students)
    {
        <p><a asp-page="Student" asp-route-id="@student.Id">@student.Forename @student.Surname</a></p>
    }
</ul>