<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>Dapper Dev</h1>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
